{% extends '::base.html.twig' %}

{% block content %}
	
	<h1>Quote Request</h1>
	
	{{ form_start(form) }}
	
	<fieldset>
	
		<legend>Website Information</legend>
		
		{{ form_row(form.project_name) }}
		
		{{ form_row(form.description) }}
		
		{{ form_row(form.pages) }}
		
		{{ form_row(form.logo) }}
		
		{{ form_row(form.cms) }}
		
		{{ form_row(form.ecommerce) }}
		
		{{ form_row(form.due_date) }}
		
		{{ form_row(form.budget) }}
		
	</fieldset>
	
	<fieldset>
		<legend>Hosting & Domain</legend>
		
		{{ form_row(form.domain) }}
		
		{{ form_row(form.hosting) }}
		
	</fieldset>
	
	<fieldset>
		<legend>Additional Information</legend>
		
		{{ form_row(form.additional_info) }}
		
	</fieldset>
	
	<fieldset>
	
		<legend>Contact Information</legend>
		
		{{ form_row(form.first_name) }}
		
		{{ form_row(form.last_name) }}
		
		{{ form_row(form.email) }}
		
		{{ form_row(form.phone) }}
		
		{{ form_row(form.method_contact) }}
	
	</fieldset>
	
	{{ form_end(form) }}
	
{% endblock %}