{% extends '::base.html.twig' %}

{% block content %}
	
	<h1>Quote Request</h1>
	
	<p>By filling this form, you do not commit to anything. We will simply send you a quote within 2 business days, to give you an
	approximate price for your website.<br />
	We will try to contact you via your preferred contact method if we feel we need more information from you to estimate your project price.</p>
			
	<br />
	
	<div class="row">
		<div class="small-8 columns">
			<div class="row">
			
			{{ form_start(form, {'attr': {'class': 'custom'}}) }}
			
			<fieldset>
	
			<legend>Website Information</legend>
		
				<div class="small-5 columns">
					{{ form_label(form.project_name, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.project_name) }}
        		</div>
				
				<div class="small-5 columns">
					{{ form_label(form.description, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.description) }}
        		</div>
		
				<div class="small-5 columns">
					{{ form_label(form.pages, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.pages) }}
        		</div>
		
				<div class="small-5 columns">
					{{ form_label(form.logo, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.logo) }}
        		</div>
				
				<div class="small-5 columns">
					{{ form_label(form.cms, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.cms) }}
        		</div>
		
				<div class="small-5 columns">
					{{ form_label(form.ecommerce, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.ecommerce) }}
        		</div>
		
				<div class="small-5 columns">
					{{ form_label(form.due_date, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.due_date) }}
        		</div>
				
				<div class="small-5 columns">
					{{ form_label(form.budget, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-7 columns">
          			{{ form_widget(form.budget) }}
        		</div>
		
	</fieldset>
	
	<fieldset>
		<legend>Hosting & Domain</legend>
		
		<div class="small-5 columns">
				{{ form_label(form.domain, null, {'attr': {'class': 'right-label'}}) }}
		</div>
		<div class="small-7 columns">
          		{{ form_widget(form.domain) }}
        </div>
		
		<div class="small-5 columns">
				{{ form_label(form.hosting, null, {'attr': {'class': 'right-label'}}) }}
		</div>
		<div class="small-7 columns">
          	{{ form_widget(form.hosting) }}
        </div>
		
	</fieldset>
	
	<fieldset>
		<legend>Additional Information</legend>
		
		{{ form_row(form.additional_info) }}
		
	</fieldset>
	
	<fieldset>
	
		<legend>Contact Information</legend>
		
				<div class="small-3 columns">
					{{ form_label(form.first_name, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-9 columns">
          			{{ form_widget(form.first_name) }}
        		</div>
		
				<div class="small-3 columns">
					{{ form_label(form.last_name, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-9 columns">
          			{{ form_widget(form.last_name) }}
        		</div>
		
				<div class="small-3 columns">
					{{ form_label(form.email, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-9 columns">
          			{{ form_widget(form.email) }}
        		</div>
		
				<div class="small-3 columns">
					{{ form_label(form.phone, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-9 columns">
          			{{ form_widget(form.phone) }}
        		</div>
		
				<div class="small-3 columns">
					{{ form_label(form.method_contact, null, {'attr': {'class': 'right-label'}}) }}
				</div>
				<div class="small-9 columns">
          			{{ form_widget(form.method_contact) }}
        		</div>
	
	</fieldset>
	
	{{ form_end(form) }}
	
	</div>
	</div>
	</div>
	
{% endblock %}