<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Vermello{% endblock %}</title>
        
        {% block stylesheets %}
        	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        	<script src="{{ asset('javascripts/jquery/jquery.color.js') }}" ></script>
        	
        	<script src="{{ asset('foundation/js/foundation/foundation.js') }}"></script>
        	<script src="{{ asset('foundation/js/vendor/custom.modernizr.js') }}"></script>
        	
        	<script src="{{ asset('javascripts/common/setup.js') }}" ></script>       	
        	
        	<link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/app.css') }}" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="js-disabled">
        {% block body %}
			
			<!-- <div class="top-bar"></div>-->
			
			<div class="row header">
			
				<div class="small-4 columns logo">
					<img src="{{ asset('assets/images/logo.png') }}" alt="Vermello" />
				</div>
				<div class="small-2 small-offset-5 columns quote">
					<p><button class="quote">FREE QUOTE</button></p>
				</div>
			</div>
			
			<div class="row">
				
				<div class="small-3 columns navigation">
					<ul>
						<li class="active"><a href="#">our company</a></li>
						<li><a href="#">portfolio</a></li>
						<li><a href="#">products & services</a></li>
						<li><a href="#">quote request</a></li>
						<br />
						<li class="client_area"><a href="#">client area</a></li>
					</ul>
				</div>
				
				<div class="small-9 columns container">				
					
					<div class="row">
						<div class="small-12 columns process">
							
							<div class="row">
								<div class="small-6 columns title">
									<h1>Wish to hire us</h1>
									<h2>for your <span>web project?</span></h2>
								</div>
							</div>
							
							<div class="row">
								<div class="small-6 columns box meet">
									
									<h1>Meet</h1>
									
									<img src="{{ asset('assets/images/icons/process/meet.png') }}" alt="Meet" class="icon">
									
									<p>You can choose to either fill one of our quote request forms <span><a href="#"><img src="{{ asset('assets/images/icons/process/form.png') }}" alt="Quote Request"></a></span>, email us <a href="#"><img src="{{ asset('assets/images/icons/process/email.png') }}" alt="contact@vermello-designs.com"></a> or phone us <a href="#"><img src="{{ asset('assets/images/icons/process/phone.png') }}" alt="email"></a><br />
									We are happy to answer any of your questions. Your quote will be sent to you by email within 2 business days.</p>
								</div>
								
								<div class="small-6 columns box plan">
									
									<h1>Plan</h1>
									
									<img src="{{ asset('assets/images/icons/process/plan.png') }}" alt="Plan" class="icon" >
									
									<p>Following the initial meetup, we plan your project in details. Mockups are used to give you a global visual idea of the product. We talk strategy, and agree on your goals and priorities.</p>
									
								</div>
							</div>
							
							<div class="row">
								<div class="small-4 columns box dev">
									
									<h1>Dev & Design</h1>
									
									<img src="{{ asset('assets/images/icons/process/gears.png') }}" alt="Dev / Design" class="icon" >
									
									<p>You can keep track of all the documents about the development of your product on our <a href="#">client area</a>. You receive notifications of any update either by email or sms.</p>
									
								</div>
								
								<div class="small-4 columns box testing">
									
									<h1>Testing</h1>
									
									<img src="{{ asset('assets/images/icons/process/test-tube.png') }}" alt="Testing" class="icon" >
									
									<p>We make sure there isn't any bug, make the last checks on security, and revise the quality of your product. It needs to be exactly the way you wanted it.</p>
									
								</div>
							
								<div class="small-4 columns box launch">
								
									<h1>Launch</h1>
									
									<img src="{{ asset('assets/images/icons/process/launch.png') }}" alt="Launch" class="icon">
									
									<p>Your product is ready to go live.
									<br />
									We provide full support free of charge for 6 months after its completion.
									</p>
									
								</div>
							</div>	
							</div>
						</div>
					</div>
				</div>
			
		
        
        {% endblock %}
        
        <!-- Check for Zepto support, load jQuery if necessary -->
		<script>
		  document.write('<script src=/foundation/js/vendor/'
		    + ('__proto__' in {} ? 'zepto' : 'jquery')
		    + '.js><\/script>');
		</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
