<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Vermello{% endblock %}</title>
        
        {% block stylesheets %}
        	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        	<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
        	<script src="{{ asset('javascripts/jquery/jquery.color.js') }}" ></script>
        	<script src="{{ asset('javascripts/jquery/jquery.qtip.min.js') }}"></script>
        	
        	<script src="{{ asset('foundation/js/foundation/foundation.js') }}"></script>
        	<script src="{{ asset('foundation/js/foundation/foundation.forms.js') }}"></script>
        	
        	<script src="{{ asset('foundation/js/vendor/custom.modernizr.js') }}"></script>      	
        	
        	<script src="{{ asset('javascripts/common/setup.js') }}" ></script>       	
        	
        	<link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/grid-5.css') }}" />
        	<link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/app.css') }}" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="js-disabled">
        {% block body %}
			
			<!-- <div class="top-bar"></div>-->
			
			<div class="row header">
			
				<div class="small-4 columns logo">
					<img src="{{ asset('images/logo.png') }}" alt="Vermello" />
				</div>
				<div class="small-3 small-offset-4 columns quote">
					<p><a href="{{ path('quote_request') }}" class="quote">FREE QUOTE</a></p>
				</div>
			</div>
			
			<div class="row">
				
				<div class="small-3 columns navigation">
					{{ knp_menu_render('main') }}
				</div>
				
				<div class="small-9 columns container">				
					
					{% block content %}
					{% endblock %}
					
				</div>
		
		</div>
		
		<div class="small-12 columns footer">
			<p>Copyright © Vermello Ltd. - 2013 - <a href="http://www.vermello-designs.com">www.vermello-designs.com</a></p>
		</div>
		
        {% endblock %}
        
        <!-- Check for Zepto support, load jQuery if necessary -->
		<script>
		  document.write('<script src=/foundation/js/vendor/'
		    + ('__proto__' in {} ? 'zepto' : 'jquery')
		    + '.js><\/script>');
		</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
