{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<h1>Client Area</h1>

<div class="row">
		<div class="small-8 small-centered columns login">
			<div class="row">
			
			{% if error %}
			    <div class="errors">{{ error|trans }}</div>
			{% endif %}
			
			<form action="{{ path("fos_user_security_check") }}" method="post">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				
				<div class="small-4 columns">
			    	<label for="username">Username or Email:</label>
			    </div>
			    	    
			    <div class="small-8 columns">
			    	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
				</div>
				
				
				<div class="small-4 columns">
			    	<label for="password">{{ 'security.login.password'|trans }}</label>
			    </div>
			    
			    <div class="small-8 columns">
			    	<input type="password" id="password" name="_password" required="required" />
				</div>
				
			   	<div class="small-4 columns">	
			   		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				</div>
				
				<div class="small-8 columns">
			    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" /> 
			   	</div>
				
			    <p class="submit"><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /></p>
			</form>
			
			</div>
		</div>
</div>
{% endblock fos_user_content %}
