{% extends '::base.html.twig' %}

{% block content %}

	<div class="row">
				<div class="small-12 columns process">
							
				<div class="row">
					<div class="small-12 large-6 columns title">
						<h1>Wish to hire us</h1>
						<h2>for your <span class="web">web project</span> <span class="p-mark">?</span></h2>	
				<noscript>
    					<p style="color:orange">You don't have javascript enabled.  We recommand you install it for a better experience on our website.</p>
				</noscript>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-12 large-6 columns box meet">
				
				<h1>Meet</h1>
				
				<p><img src="{{ asset('images/icons/process/meet.png') }}" alt="Meet" class="icon"></p>
				
				<p>You can choose to either fill our quote request form <span><a href="#"><img src="{{ asset('images/icons/process/form.png') }}" alt="Quote Request"></a></span>, email us <a href="#" title="contact@vermello-designs.com" class="email"><img src="{{ asset('images/icons/process/email.png') }}" alt="contact@vermello-designs.com"></a> or phone us <a href="#" title="+44 xx xx xx xx" class="phone"><img src="{{ asset('images/icons/process/phone.png') }}" alt="email"></a><br />
				We are happy to answer any of your questions. If you requested one, a quote will be sent to you by email within 2 business days.</p>
			
				<p class="started"><a href="{{ path('quote_request') }}">GET STARTED</a></p>
			</div>
			
			<div class="small-12 medium-12 large-6 columns box plan">
				
				<h1>Plan</h1>
				
				<img src="{{ asset('images/icons/process/plan.png') }}" alt="Plan" class="icon" >
				
				<p>Following the initial meetup, we plan your project in details. Mockups are used to give you a global visual idea of the product. We talk strategy, and agree on your goals and priorities.</p>
				
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-12 large-4 columns box dev">
				
				<h1>Dev & Design</h1>
				
				<img src="{{ asset('images/icons/process/gears.png') }}" alt="Dev / Design" class="icon" >
				
				<p>You can keep track of all the documents about the development of your product on our <a href="#">client area</a>. You receive notifications of any update either by email or sms.</p>
				
			</div>
			
			<div class="small-12 medium-12 large-4 columns box testing">
				
				<h1>Testing</h1>
				
				<img src="{{ asset('images/icons/process/test-tube.png') }}" alt="Testing" class="icon" >
				
				<p>We make sure there isn't any bug, make the last checks on security, and revise the quality of your product. It needs to be exactly the way you want it.</p>
				
			</div>
			
			
			<div class="small-12 medium-12 large-4 columns box launch">
			
				<h1>Launch</h1>
				
				<img src="{{ asset('images/icons/process/launch.png') }}" alt="Launch" class="icon">
				
				<p>Your product is ready to go live.
				<br />
				We provide full support free of charge for 6 months after its completion.
				</p>				
			</div>
		</div>	
		</div>
	</div>
</div>
{% endblock %}